.banner {
  background-size: cover;
  background-position: center;
  p {
    font-size: 20px;
  }
  p + p {
    font-size: 32px;
  }
  @include media-break-up($md) {
    p {
      font-size: 20px;
    }
    p + p {
      font-size: 48px;
    } 
  } 
  @include media-break-up($lg) {
    p {
      font-size: 32px;
    }
    p + p {
      font-size: 64px;
    } 
  } 
}

.banner-index {
  display: flex;
  align-items: center;
  background-image: url(../../images/banner-sm.png);
  height: 394px;
  @include media-break-up($md) {
    background-image: url(../../images/banner.png);
  height: 840px;
  }
}

.banner-joint {
  background-image: url(../../../images/bg.png);
}

.bannerProduct {
  height: 148px;
  width: 50%;
  background-position: center;
  background-size: cover;
  &-opticalLeft {
    background-image: url(https://images.unsplash.com/photo-1547104442-9f0af4f37a87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80);
  }
  &-opticalRight {
    background-image: url(https://images.unsplash.com/photo-1544825470-60e99eef8a70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80);
  }
  &-sunglassesLeft {
    background-image: url(https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  }
  &-sunglassesRight {
    background-image: url(../../images/product-2-color.png);
  }
  @include media-break-up($md) {
    height: 304px;
  }
}

