.breadcrumb {
  display: flex;
  margin-bottom: 8px;
  li:last-child::after {
    content: '';
  }
  &-item {
    margin-right: 14px;
    position: relative;
    &::after {
      content: '/';
      top: 0;
      position: absolute;
      right: -14px;
      transform: translateX(-50%);
    }
  }
  &-link {
    color: map-get($themes-colors, dark);
  }
  &-active {
    color: map-get($themes-colors, primary);
    cursor: default;
    pointer-events: none;
  }
}