.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid map-get($themes-colors, lightblurry);
}

.card-icon {
  font-size: 80px;
  line-height: 100px;
  font-weight: bold;
}

.card-img {
  width: 100%;
}

.card-title {
  font-size: 24px;
  margin-bottom: 8px;
}

.card-body {
  padding: 0 45px;
  display: flex;
  flex-direction: column;
}

.horizonalCard {
  display: flex;
  flex-direction: column;
  position: relative;
}

.horizonalCard-bgImg {
  background-size: cover;
  background-position: center;
}

.horizonalCard-content {
  font-size: 28px;
  font-style: italic;
  font-weight: bold;;
}